#portfolio {
    background-color: var(--first-color);
    height: auto;
    padding-top: 3%;
    padding-bottom: 5%;
}


.recent-projects {
    font-family: 'Rock Salt', cursive;
    color: var(--second-color);
    text-align: center;
    margin-bottom: 3%;
    margin-top: 0px;
}

.container {
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    width: auto;
    margin-bottom: 10%;
}

.card {
    display: flex;
    justify-content: center;
    position: relative;
    background: var(--second-color);
    height: 450px;
    width: 350px;
    overflow: hidden;
    box-shadow: 5px 5px 20px black;
    margin: 20px 20px;
    border-radius: 3px;
    -webkit-transition: .6s ease-in-out;
    -moz-transition: .6s ease-in-out;
    -o-transition: .6s ease-in-out;
    transition: .6s ease-in-out;
}

/*  Assigning properties to inner
    content of card  */
.card_inner {
    background-color: var(--second-color);
    color: var(--first-color);
    font-family: 'Rato', sans-serif;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    opacity: 0;
    padding: 2rem 1.3rem 2rem 2rem;
    transition: all 0.4s ease 0s;
    text-align: center;
    padding: 30px;
}

/*  On hovering card opacity
    of content must be 1*/
.card_inner:hover {
    opacity: .9;
}

.card img {
    /* width: 90%; */
    width: 300px;
    height: 300px;
    object-fit:cover;
    margin: auto;
    position: absolute; 
    bottom: 5%;
}

.card:hover {
    cursor: pointer;
    box-shadow: 5px 5px 20px black;
    /* opacity: .5; */
    -webkit-transform: translate(1em,0);
    -moz-transform: translate(1em,0);
    -o-transform: translate(1em,0);
    -ms-transform: translate(1em,0);
    transform: scale(105%)
    
}

.card:active {
    box-shadow: none;
    transform: scale(95%);
}

#project_title {
    margin-top: 12%;
    margin-bottom: 0;
    text-align: center;
    font-size: 28px;
    color: var(--fourth-color);
    font-family: 'Rock Salt', cursive;
    font-weight: lighter;
}

#project_desc {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    color: var(--second-color)
}

#project_tech {
    margin-top: 15%;
    margin-bottom: 20%;
    font-size: 24px;
    font-weight: lighter;
}

#card_btn {
    padding: 10px;
    margin: 10px 10px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: var(--second-color);
    background-color: var(--first-color);
    border-radius: 3px;;

}

#card_btn:hover {   
    color: var(--first-color);
    background-color: var(--fourth-color);
}
