<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./cards.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;900&family=Rock+Salt&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <div id="title_desc">
                <h1 id="project_title">cov-fit</h1>
            </div>
            <img src="../../assets/projects/covfit.png" alt="COV-FIT screenshot" srcset="">
            <div class="card_inner">
                <h3 id='project_tech'>this is the project description & list of technologies</h3>
                <div id='buttons'>
                    <a id="card_btn" href="" target="_blank">
                        demo
                    </a>
                    <a id="card_btn" href="" target="_blank">
                        github
                    </a>
                </div>
            </div>
        </div>
        <div class="card">
            <div id="title_desc">
                <h1 id="project_title">blech</h1>
            </div>
            <img src="../../assets/projects/blech.png" alt="blech screenshot" srcset="">
            <div class="card_inner">
                <h3 id='project_tech'>this is the project description & list of technologies</h3>
                <div id='buttons'>
                    <a id="card_btn" href="" target="_blank">
                        demo
                    </a>
                    <a id="card_btn" href="" target="_blank">
                        github
                    </a>
                </div>
            </div>
        </div>
        <div class="card">
            <div id="title_desc">
                <h1 id="project_title">HikeSpot</h1>
            </div>
            <img src="../../assets/projects/hikespot.png" alt="HikeSpot screenshot" srcset="">
            <div class="card_inner">
                <h3 id='project_tech'>this is the project description & list of technologies</h3>
                <div id='buttons'>
                    <a id="card_btn" href="" target="_blank">
                        demo
                    </a>
                    <a id="card_btn" href="" target="_blank">
                        github
                    </a>
                </div>
            </div>
        </div>
        <div class="card">
            <div id="title_desc">
                <h1 id="project_title">Team Profiles</h1>
            </div>
            <img src="../../assets/projects/teamprofiles.png" alt="Team Profiles screenshot" srcset="">
            <div class="card_inner">
                <h3 id='project_tech'>this is the project description & list of technologies</h3>
                <div id='buttons'>
                    <a id="card_btn" href="" target="_blank">
                        demo
                    </a>
                    <a id="card_btn" href="" target="_blank">
                        github
                    </a>
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>