.bio {
    height: 100%;
    width: auto;
    padding: 40px;
    font-size: 25px;
    padding-bottom: 100px;
    background-color: var(--third-color);
}

.bio-photo {
    display: flex;
    justify-content: space-between;
    width: auto;
}

.bio-headshot {
    height: auto;
    width: auto;
    max-width: 350px;
    max-height: 500px;
    transform: scaleX(-1);
    margin-top: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#about {
    text-align: left;
    font-family: 'Rock Salt', cursive;
    color: var(--fourth-color);

}

.bio-content {
    color: var(--first-color);
    font-family: 'Rato', sans-serif;
    font-weight: lighter;

}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 920px) {

    .bio-photo {
        width: auto;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
    }

    #about {
        text-align: center;
    }

    .bio-headshot {
        margin-top: 10%;
    }

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    .bio {
        max-width: 100%;
    }

    .bio-photo {
        display: inline-block;
        width: auto;
    }

    .bio-content {
        width: auto;
        text-align: center;
    }

    .bio-headshot {
        width: 275px;
        margin-top: 20%;
    }

}