.contact-me {
	padding: 25px;
	background-color: var(--third-color);
	width: auto;
}

#contact-page {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding-bottom: 5%;
	width: auto;
}

.contact-header {
	font-family: 'Sedgwick Ave', cursive;
	color: var(--fourth-color);
    text-align: left;
}
/* 
#contact-form {
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	color: var(--first-color);	
	margin-left: 20px;
	width: auto;
}

.form-field {
	padding-top: 20px;
	margin-bottom: 20px;
} */

.contact-btn img {
	height: 30px;
}

.contact-btn:hover {
	transform: scale(110%);
	color: var(--fourth-color);
    filter: invert(75%);
}

.contact-buttons {
	text-align: left;
	margin-left: 0px;
}


.contact-name {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 20px 20px 20px 0px;
}

a {
	margin-left: 0;
	padding-right: 10px;
	font-family: 'Lato', sans-serif;
	font-weight: lighter;
	font-size: 24px; 
}

/* button {
	background: var(--fourth-color);
	border: 0;
	border-radius: 5px;
	color: var(--second-color);
	cursor: pointer;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 30px;
    margin-top: 30px;
	padding: 10px 10px;	
	transition: all 0.4s ease 0s;
} */

button:hover {
	color: var(--second-color);
	background-color: var(--first-color);
	transform: scale(110%);
}

.map-iframe {
	margin-bottom: 20px;
}


/* .home-buttons {
	margin-top: 20px;
	font-size: 20px;
	margin-bottom: 10%;
	display: flex;
	justify-content: space-around;
	text-decoration: none;
	font-family: 'Rock Salt';
	font-size: 30px;
	
}

.home-btn {
	transition: all 0.4s ease 0s;
	text-decoration: none;
	color: var(--fourth-color);
}

.home-btn:hover {
	transform: scale(110%);
	color: var(--first-color);
} */

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 1100) {

    /* #contact-page {
		width: auto;
		display: block;
		padding-bottom: 5%;
    } */

	
	.message {
		width: 200px;
	}

	
	

}
