#footer {
    background-color: var(--second-color);
    position: fixed;
    bottom: 0; 
    width: 100%; 
    box-shadow: 0px -5px 5px rgba(0, 0, 0, .5);
}

#copyright {
    color: var(--second-color);
    font-size: 12px;
    font-family: "Rato", sans-serif;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.home-buttons {
	display: flex;
	justify-content: space-around;
	text-decoration: none;
	font-family: 'Rock Salt';
	font-size: 20px;
	
}

.home-btn {
	transition: all 0.4s ease 0s;
	text-decoration: none;
	color: var(--fourth-color);
}

.home-btn:hover {
	transform: scale(110%);
	color: var(--first-color);
}