:root {
    --first-color: #f4f4f4;
    --second-color: #373737;
    --third-color: #707070;
    --fourth-color: #FFDF6C;
}


.navBar {
    display: flex;
    width: auto;
    justify-content: space-around;
    align-items: center;
    background-color: var(--second-color);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .5);
}

.inactive {
    padding: 5px;
    font-family: Rato, sans-serif;
    text-decoration: none;
    color: var(--fourth-color);
    transition: all 0.4s ease 0s;
}

.inactive:hover {
    padding: 5px;
    font-family: Rato, sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: var(--first-color);
    transition: all 0.4s ease 0s;
}

#siteName {
    font-size: 36px;
    font-family: 'Rock Salt', cursive;
    justify-content: center;
    text-decoration: none;
    color: var(--fourth-color);
    transition: all 0.4s ease 0s;
}

#siteName:hover {
    color: var(--first-color);
    transform: scale(110%);
}

#subtitle {
    font-size: 16px;
    justify-content: center;
}

.active {
    padding: 5px;
    font-family: Rato, sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: var(--first-color);
    transition: all 0.4s ease 0s;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */

@media screen and (max-width: 980px) {
    .navBar {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        width: auto;
        text-align: center;
    }

    #siteName {
        font-size: 24px;
    }
}