.navBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav {
    padding: 5px;
    text-decoration: none;
    color: black;
}

#siteName {
    font-size: 36px;
    justify-content: center;
    text-decoration: none;
    color: black;
}

#subtitle {
    font-size: 16px;
    justify-content: center;
}